* {
  padding: 0%;
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

body .fondo {
  background-image: url(./img/fondo.png);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

body .bloque-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bloque-main .bloque-descripcion {
  width: 60%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  background-color: rgba(185, 185, 185, 0.411);
  color: black;
  margin: 50px auto;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

body .bloque-main .bloque-descripcion img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: auto;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

body .bloque-main .bloque-descripcion .bloque-descripcion-txt {
  margin-left: 20px;
}

body .bloque-main .bloque-descripcion .bloque-descripcion-txt h1 {
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}

body .bloque-main .bloque-descripcion .bloque-descripcion-txt h2 {
  font-size: 30px;
}

body .bloque-main .bloque-descripcion .bloque-descripcion-txt p {
  font-size: 20px;
}

body .bloque-main .titulo-main {
  z-index: 10;
  text-align: center;
  margin-top: 50px;
}

body .bloque-main .bloque-conocimiento {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  margin: 50px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .bloque-main .bloque-conocimiento .cards-conocimiento {
  background-color: rgba(185, 185, 185, 0.411);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  padding: 30px;
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

body .bloque-main .bloque-conocimiento .cards-conocimiento:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.466) 2px 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.466) 2px 2px 10px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

body .bloque-main .bloque-conocimiento .cards-conocimiento:hover img {
  -webkit-filter: none;
          filter: none;
}

body .bloque-main .bloque-conocimiento .cards-conocimiento img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
  -webkit-filter: blur(1px) grayscale(90%);
          filter: blur(1px) grayscale(90%);
}

body .bloque-main .bloque-conocimiento .cards-conocimiento h3 {
  text-align: center;
}

body .bloque-main .bloque-conocimiento .cards-conocimiento a {
  padding: 2px 15px;
  margin: 10px auto 20px;
  border: 1px black solid;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 7px;
}

body .bloque-main .bloque-cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  z-index: 10;
}

body .bloque-main .bloque-cursos .cards-cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(185, 185, 185, 0.411);
  padding: 10px;
  margin: 10px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

body .bloque-main .bloque-cursos .cards-cursos:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.466) 2px 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.466) 2px 2px 10px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

body .bloque-main .bloque-cursos .cards-cursos:first-child {
  margin-top: 50px;
}

body .bloque-main .bloque-cursos .cards-cursos img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
}

body .bloque-main .bloque-cursos .cards-cursos .cards-cursos-txt {
  margin: 20px;
  height: 100px;
  overflow: hidden;
  text-align: justify;
}

body .bloque-main .bloque-cursos .cards-cursos .cards-cursos-txt:hover {
  height: auto;
  overflow: visible;
}

body .bloque-main .bloque-cursos .cards-cursos .cards-cursos-txt h3 {
  margin-bottom: 10px;
}

body .bloque-piepagina {
  padding: 50px 0px;
  background-color: rgba(151, 28, 110, 0.521);
  margin-top: 50px;
}

body .bloque-piepagina .bloque-piepagina-datos {
  width: 70%;
  margin: auto;
}

body .bloque-piepagina .bloque-piepagina-datos li {
  list-style: none;
  padding: 5px;
}
/*# sourceMappingURL=estilos.css.map */